In [1]:
import pandas as pd

In [4]:
bh = pd.read_csv("beer_states.csv")

In [5]:
bh.head(10)

  state  year   barrels         type
0    AK  2008   2067.69  On Premises
1    AK  2009   2263.65  On Premises
2    AK  2010   1929.15  On Premises
3    AK  2011   2251.02  On Premises
4    AK  2012   2312.43  On Premises
5    AK  2013   2155.60  On Premises
6    AK  2014   2114.97  On Premises
7    AK  2015   4511.48  On Premises
8    AK  2016  13315.93  On Premises
9    AK  2017  15974.10  On Premises

In [6]:
bh.tail(10)

      state  year      barrels              type
1862  total  2010  17725898.72  Kegs and Barrels
1863  total  2011  17817251.15  Kegs and Barrels
1864  total  2012  18157777.56  Kegs and Barrels
1865  total  2013  18097967.51  Kegs and Barrels
1866  total  2014  18176128.25  Kegs and Barrels
1867  total  2015  17750504.62  Kegs and Barrels
1868  total  2016  17000382.28  Kegs and Barrels
1869  total  2017  16514866.69  Kegs and Barrels
1870  total  2018  15662381.42  Kegs and Barrels
1871  total  2019  14880067.09  Kegs and Barrels

In [7]:
bh.describe()

              year       barrels
count  1872.000000  1.853000e+03
mean   2013.500000  2.286370e+06
std       3.452975  1.313637e+07
min    2008.000000  0.000000e+00
25%    2010.750000  6.907140e+03
50%    2013.500000  3.080078e+04
75%    2016.250000  2.221882e+05
max    2019.000000  1.669300e+08

In [8]:
bh.info

<bound method DataFrame.info of       state  year      barrels              type
0        AK  2008      2067.69       On Premises
1        AK  2009      2263.65       On Premises
2        AK  2010      1929.15       On Premises
3        AK  2011      2251.02       On Premises
4        AK  2012      2312.43       On Premises
...     ...   ...          ...               ...
1867  total  2015  17750504.62  Kegs and Barrels
1868  total  2016  17000382.28  Kegs and Barrels
1869  total  2017  16514866.69  Kegs and Barrels
1870  total  2018  15662381.42  Kegs and Barrels
1871  total  2019  14880067.09  Kegs and Barrels

[1872 rows x 4 columns]>

In [10]:
print(bh.shape)

(1872, 4)

In [11]:
print(bh.shape[0])

1872

In [12]:
print(bh.shape[1])

4

In [13]:
bh.columns

Index(['state', 'year', 'barrels', 'type'], dtype='object')

In [14]:
bh.isnull()

      state   year  barrels   type
0     False  False    False  False
1     False  False    False  False
2     False  False    False  False
3     False  False    False  False
4     False  False    False  False
...     ...    ...      ...    ...
1867  False  False    False  False
1868  False  False    False  False
1869  False  False    False  False
1870  False  False    False  False
1871  False  False    False  False

[1872 rows x 4 columns]

In [15]:
bh.isnull().sum()

state       0
year        0
barrels    19
type        0
dtype: int64